@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

/* body a , body ul li {
    list-style: none;
    text-decoration: none;
} */

.offers {
    margin-bottom: 50px;
}

.offers .text-center p {
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
    font-family: 'Inter', sans-serif;
    color: #0762CD;
}

.offers .container .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offers .container .row .card {
    background-color: #0C396E;
    border-radius: 25px;

}

.offers .container .row .Layout {
    /* width: 610px; */
    height: 407px;
}

.offers .card .card-body .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0762CD;
    border-radius: 50%;
    width: 68px;
    height: 68px;

}

.offers .card .card-body .card-title,
.offers .card .card-body .card-text {
    color: #fff;

}

.offers .card .card-body .card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.offers .card .card-body .card-text {
    text-align: right;
    width: 438px;
    height: 86px;
    line-height: 36px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 65px;
}

.offers .card .card-body .title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 29.05px;
    margin-top: 10px;
    color: #ffffff;
}

.offers .card .card-body .box {
    width: 432px;
    height: 37px;
    border-radius: 10px;
    background: #fff;
}

.offers .card .card-body .box p {
    font-size: 16px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40.36px;
    text-align: center;
}

.offers .card .card-body .box2 {
    width: 432px;
    height: 37px;
    border-radius: 10px;
    background: #0762CD;

}

.offers .card .card-body .box2 p {
    font-size: 16px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40.36px;
    text-align: center;
}

.offers .text {
    margin-left: 10%;
}

.offers .text p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}

.offers .text ul {
    /* width: 870px; */
    height: 233px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.05px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 35px;
}

.offers .text ul li {
    text-align: right;
    color: #fff;
}


.offers .row .links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0762CD;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-top: 28px;
    margin-left: 26px;
}

.offers .row .question {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: -5%;
}

.offers .row .question img {
    /* width: 46px; */
    height: 46px;
    margin-bottom: 6px;
}

.offers .row .info {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    width: 233px;
    font-family: 'Inter', sans-serif;
    line-height: 2.2;
}

.offers .row .pargraph {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.057px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    margin-left: -6%;
}

.offers .infos {
    width: 597px;
    font-size: 21px;
    margin-left: -3%;
}

.offers .Membership {
    width: 597px;
    margin-left: -2%;
}


@media screen and (max-width: 600px) {

    .offers .col-lg-6,
    .offers .col-lg-12 {
        margin-left: 4%;
    }


    .text-center p {
        font-size: 31px;
    }

    .offers .card {
        margin-bottom: 15px;
    }

    .offers .section {
        margin: none;
    }

    .offers .row .card-text {
        font-size: 20px;
        padding: 0 53px;
    }

    .offers .box,
    .offers .box2 {
        width: 100%;
    }

    .offers .text ul {
        font-size: 14px;
        margin-bottom: 60%;
    }

    .offers .Terms {
        margin-top: -11%;
        margin-bottom: 31%;
    }

    .offers .question .info {
        font-size: 22px;
        width: 199px;
    }

    .offers .question .infos {
        font-size: 18px;
        text-align: right;
        margin-right: 16px;
        margin-top: 19px;
    }

    .offers .Membership {
        font-size: 16px !important;
        text-align: right;
        margin-right: 4%;
        margin-top: 6px;
    }

    .offers .card .card-body .box,
    .offers .card .card-body .box2 {
        width: 100%;
    }

    .offers .row .pargraph {
        line-height: 1.8;
        font-size: 15px;
    }

    .offers .question .infos {
        font-size: 16px !important;
    }

    .offers .footer {
        margin-bottom: 50% !important;
    }

    .offers .footer .info {
        font-size: 16px !important;
        text-align: right;
        margin-right: 5%;
    }
}

.accounts .row .images {
    width: 597px;
    height: 435px;
}

.accounts .row .card-title {
    width: 320px;
    height: 94px;
    font-size: 35px;
    line-height: 52.36px;
    color: #0C396E;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-left: 43%;
    text-align: right;
}

.accounts .row .card-text {
    width: 359px;
    height: 52px;
    font-size: 17px;
    line-height: 30.57px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #0C396E;
    margin-left: 37%;
    margin-top: 4%;
}


.accounts .row .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
    margin-left: 55%;
}

.accounts .row .icons img {
    margin-right: -4%;
}

.accounts .row .payments{
    text-align: right;
    margin-right: 11%;
    margin-top: 3%;
}

.accounts .row .payments img{
    margin-right:2%;
}

@media screen and (max-width: 600px) {
    .accounts .row .card-title{
        margin-top: 11%;
    }
    .accounts .row .icons{
        text-align: right !important;
    }
    .accounts .row .payments{
        text-align: end;
    margin-right: 11px;
    margin-top: 10px;
    }
}