@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

/* body a , body ul li {
    list-style: none;
    text-decoration: none;
} */
.offers .container .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offers .container .row .card {
    background-color: #0C396E;
    border-radius: 25px;

}

.offers .container .row .Layout {
    width: 610px;
    height: 407px;
}

.offers .card .card-body .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0762CD;
    border-radius: 50%;
    width: 68px;
    height: 68px;

}

.offers .card .card-body .card-title,
.offers .card .card-body .card-text {
    color: #fff;

}

.offers .card .card-body .card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.offers .card .card-body .card-text {
    text-align: right;
    width: 438px;
    height: 86px;
    line-height: 36px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 65px;
}

.offers .card .card-body .title {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    line-height: 29.05px;
    margin-top: 10px;
    color: #ffffff;
}

.offers .card .card-body .box {
    width: 432px;
    height: 37px;
    border-radius: 10px;
    background: #fff;
}

.offers .card .card-body .box p {
    font-size: 16px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40.36px;
    text-align: center;
}

.offers .card .card-body .box2 {
    width: 432px;
    height: 37px;
    border-radius: 10px;
    background: #0762CD;

}

.offers .card .card-body .box2 p {
    font-size: 16px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40.36px;
    text-align: center;
}

.offers .text {
    margin-left: 10%;
}

.offers .text p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}

.offers .text ul {
    width: 870px;
    height: 233px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35.05px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 35px;
}

.offers .text ul li {
    text-align: right;
    color: #fff;
}


.offers .row .links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0762CD;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-top: 9px;
}

.offers .row .question {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: -5%;
}

.offers .row .question img {
    width: 46px;
    height: 46px;
    margin-bottom: 6px;
}

.offers .row .info {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    width: 233px;
    font-family: 'Inter', sans-serif;
    line-height: 2.2;
}

.offers .row .pargraph {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    line-height: 20.057px;
    text-align: right;
    font-family: 'Inter', sans-serif;
    margin-left: -6%;
}